header {
    background: #262539;
    padding: 25px 78px;
}
.hd_logo {
    height: 30px;
}
.header_menu {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    justify-content: flex-end;
}
header .row{
    align-items: center;
}
.header_menu li a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    letter-spacing: normal;
    line-height: normal;
}
.header_menu li {
    list-style-type: none;
    padding-left: 8px;
    padding-right: 8px;
}
.header_contacts {
    display: flex;
    align-items: center;
}
.header_menu li a.header_login {
    text-decoration: none;
    color: #18b68d;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    letter-spacing: normal;
    line-height: normal;
    padding-left: 3px;
    padding-right: 3px;
}
.header_chat {
    padding-left: 3px;
}
.home_post {
    margin: 70px 58px 0px 58px;
    box-shadow: 1px 4px 8px rgba(51, 51, 51, 0.45);
}
.home_post__chel {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.home_post h1 {
    font-size: 44px;
    color: #18b68d;
    padding-top: 40px;
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-style: normal;
    margin: 0;
    line-height: 1;
}
.home_post__info {
    font-size: 16px;
    color: #575757;
    padding-top: 10px;
    font-family: "Source Sans Pro";
    font-weight: 500;
    font-style: normal;
    margin: 0;
    line-height: 1;
}
.home_post__block {
    font-size: 16px;
    color: #575757;
    padding-top: 32px;
    font-family: "Source Sans Pro";
    font-weight: 500;
    font-style: normal;
    margin: 0;
}
.home_post__button {
    display: block;
    font-size: 16px;
    color: #18b68d;
    margin-top: 26px;
    margin-bottom: 0px;
    font-family: "Source Sans Pro";
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
}
.home_post__info_block {
    padding: 0 58px 47px 57px;
}
.home_mini_post_all {
    margin: 27px 58px 0 70px;
}
.img_realtors {
    width: 100%;
    height: 240px;
    object-fit: cover;
}
.home_mini_post__info_block {
    padding: 0 33px 35px 33px;

}
.home_post__mini__info {
    font-size: 16px;
    color: #575757;
    padding-top: 30px;
    font-family: "Source Sans Pro";
    font-weight: 500;
    font-style: normal;
    margin: 0;
    line-height: 1;
}
.home_mini_post h1 {
    font-size: 24px;
    color: #575757;
    padding-top: 30px;
    font-family: "Source Sans Pro";
    font-weight: bold;
    font-style: normal;
    margin: 0;
    line-height: 1;
}
.home_mini_post__info_block p {
    font-size: 16px;
    color: #575757;
    padding-top: 20px;
    font-family: "Source Sans Pro";
    font-weight: 500;
    font-style: normal;
    margin: 0;
    line-height: 1;
}
.home_mini_post__info_block a {
    display: block;
    font-size: 16px;
    color: #18b68d;
    margin-top: 18px;
    margin-bottom: 0;
    font-family: "Source Sans Pro";
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
}
.home_mini_post {
    box-shadow: 1px 4px 8px rgba(51, 51, 51, 0.45);
    margin: 15px 0 15px 20px;
}
.home_mini_post_all .col-6:nth-child(odd) .home_mini_post {
    margin-left: 0;
    margin-right: 20px;
}
.nav_menu {
    margin: 17px 0px 0px 23px;
    box-shadow: 1px 4px 8px rgba(51, 51, 51, 0.45);
    padding: 24px 30px 0 30px;
}
.nav_menu h1 {
    font-size: 44px;
    color: #18b68d;
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-style: normal;
    margin: 0;
    line-height: 1;
}
.nav_menu label {
    margin-top: 35px;
    width: 100%;
    background-color: #f2f2f3;
    padding:0 25px 0 25px;
    height: 50px;
}
.nav_menu input {
    outline: none;
    height: 100%;
    width: 100%;
    border: none;
    background: rgba(255, 255, 255, 0);
}
.nav_menu h2 {
    margin-top: 45px;
    color:#575757;
    width: 112px;
    height: 22px;
    font-family: "Source Sans Pro";
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 27px;
    text-align: left;
}

.nav_menu_col {
    display: flex;
    flex-direction: column;
}
.nav_menu_col a {
    text-decoration: none;
    color: #575757;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 27px;
    text-align: left;

}
.nav_menu .col-6:nth-child(even) .nav_menu_col {
    border-left: solid #93c7aa;
    padding-left: 37px;

}
